{{define "base"}}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{template "title" .}} - Snipify</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="shortcit icon"
      type="image/x-icon"
      href="/static/img/favicon.ico"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700"
    />
  </head>
  <body>
    <header>
      <h1><a href="/">Snipify</a></h1>
    </header>
    {{template "nav" .}}
    <main>{{template "main" .}}</main>
    <footer>Powered by <a href="https://hyprhex.me">Hyprhex</a></footer>
    <script src="/static/js/main.js" type="text/javascript"></script>
  </body>
</html>
{{end}}
